// Bootstrap Default Overrides
$yellow: #ffe600;
$purple: #5151e0;
$black: #000;
$dark: $black;
$primary: $purple;
$font-primary: 'Lato', sans-serif;
$font-accent: 'Montserrat', sans-serif;
$font-family-base: $font-primary;
$font-size-base: 1.125rem;
$body-color: #333;
$headings-font-family: $font-accent;
$headings-font-weight: 800;
$btn-font-size-lg: $font-size-base;
$border-radius: 0.5rem;
$border-radius-lg: 0.75rem;
$input-btn-padding-x: 1.5rem;
$input-btn-padding-x-lg: 2rem;

// Import Bootstrap - fill in remaining, undeclared styles
@import "~bootstrap/scss/bootstrap";

// Manual Bootstrap Theme Styles
.btn-primary:hover {
    background-color: lighten($primary, 7.5%);
    border-color: lighten($primary, 7.5%);
}

.bg-dark {
    color: #fff;
    .btn-primary {
        background-color: $yellow;
        border-color: $yellow;
        color: $black;
        &:hover, &:focus, &:not(:disabled):not(.disabled):active {
            background-color: lighten($yellow, 25%);
            border-color: lighten($yellow, 25%);
        }
        &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled):focus {
            box-shadow: 0 0 0 0.2rem rgba(darken($yellow, 7.5%), 0.5);
        }
        &:not(:disabled):not(.disabled):active {
            color: $body-color;
        }
    }
}

// Custom Imports
@mixin overlay-bg($opacity) { background-color: rgba(0,0,0,$opacity); }
.overlay-bg {
    &-10 { @include overlay-bg(.1) }
    &-20 { @include overlay-bg(.2) }
    &-30 { @include overlay-bg(.3) }
    &-40 { @include overlay-bg(.4) }
    &-50 { @include overlay-bg(.5) }
    &-60 { @include overlay-bg(.6) }
    &-70 { @include overlay-bg(.7) }
    &-80 { @include overlay-bg(.8) }
    &-90 { @include overlay-bg(.9) }
}

// Site Styles
main {
    position: relative;
    z-index: 1;
    background-color: $body-bg;
    section {
        padding: 5rem 0;
        &:first-of-type {
            &.bg-skew {
                top: -5rem;
                margin-bottom: -5rem;
            }
        }
        &:last-of-type {
            margin-bottom: 780px;
            padding-bottom: 0;
        }
    }
}
@include media-breakpoint-up(lg) {
    main section:last-of-type {
        margin-bottom: 500px;
    }
}
footer section {
    padding: 7rem 0 3rem;
    &.copyright {
        padding: 1rem 0;
        color: #7a7a7a;
        font-size: $font-size-base * 0.75;
        background-color: #1a1a1a;
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    background-color: #fff;
    .container {
        position: relative;
        .navbar-collapse {
            position: absolute;
            left: 0;
            right: 0;
            padding-left: 15px;
            padding-right: 15px;
            top: 61px;
            background-color: #fff;
            justify-content: space-between;
            .navbar-left, .navbar-right {
                flex: 0 1 calc(50% - 158px);
                justify-content: space-between;
            }
            .nav-item {
                margin-bottom: 0.5rem;
                text-align: center;
                .nav-link {
                    width: 100%;
                }
            }
        }
    }
    .nav-link:not(.btn-primary) {
        color: $black;
        &:hover {
            color: $primary;
        }
    }
}
.navbar-header {
    display: flex;
    width: 100%;
    justify-content: center;
    .navbar-toggler {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
}
.navbar-brand {
    margin-right: 0;
}

.logo {
    height: 42px;
    padding-top: 4px;
}

@include media-breakpoint-up(lg) {
    .navbar .container .navbar-collapse {
        background: none;
        left: 15px;
        right: 15px;
        top: unset;
        padding-left: 0px;
        padding-right: 0px;
        .nav-link {
            font-size: 1rem;
        }
        .navbar-left, .navbar-right {
            flex: 0 1 calc(50% - 118px);
            justify-content: space-between;
        }
    }
}
@include media-breakpoint-up(xl) {
    .navbar .container .navbar-collapse {
        .nav-link {
            font-size: $font-size-base;
        }
        .navbar-left, .navbar-right {
            flex: 0 1 calc(50% - 158px);
            justify-content: space-between;
        }
    }
    .logo {
        height: 48px;
    }
}

.staging-notice {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #f5c2c2;
    color: $red;
    padding: 0.5rem 0;
    font-size: 80%;
    text-align: center;
    opacity: 0.75;
}

.welcome {
    position: relative;
    z-index: 0;
    background-color: $black;
    background-image: url('/images/masthead-bg-1x.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $yellow;
    margin-bottom: -5rem;
}
.cta-window {
    background-image: url('/images/masthead-bg-1x.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@include media-breakpoint-up(md) {
    .welcome, .cta-window {
        background-image: url('/images/masthead-bg-2x.jpg');
    }
}

.flex-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-skew {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -2rem;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $yellow;
        -ms-transform: skewY(7deg); /* IE 9 */
        -webkit-transform: skewY(7deg); /* Safari 3-8 */
        transform: skewY(7deg);
    }
    &:first {
        margin-top: -2rem;
    }
    &:last {
        margin-bottom: -2rem;
    }
    &.accent-bottom::before {
        border-bottom: 0.75rem solid $primary;
    }
    &.accent-top::before {
        border-top: 0.75rem solid $primary;
        bottom: -7.25rem
    }
}
@include media-breakpoint-up(lg) {
    .bg-skew {
        &.accent-bottom::before {
            bottom: 4rem;
        }
        &.accent-top::before {
            top: 5rem;
        }
    }
}
@media (min-width: 1921px) {
    .bg-skew::before {
        -ms-transform: skewY(4deg); /* IE 9 */
        -webkit-transform: skewY(4deg); /* Safari 3-8 */
        transform: skewY(4deg);
    }
}

.feature-list {
    list-style: none;
    padding-left: 1rem;
    li {
        font-size: 85%;
        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: $font-size-base;
            content: "\f00c";
            color: $yellow;
            display: inline-block;
            margin-right: 0.5em;
        }
    }
}

.products {
    h2 {
        margin-bottom: 2rem;
    }
    .container > .row > div {
        margin-bottom: 30px;
    }
    .inner-col {
        background-color: $yellow;
        padding: 0.5rem 0 2rem;
        height: 100%;
        position: relative;
        overflow: hidden;
        .more-info {
            position: absolute;
            top: 2rem;
            bottom: 2rem;
            left: 2rem;
            right: 2rem;
            background-color: rgba($black, 0.75);
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;
            pointer-events: none;
        }
        &:hover .more-info {
            top: 0rem;
            bottom: 0rem;
            left: 0rem;
            right: 0rem;
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
        }
    }
    .icon {
        display: inline-block;
        margin: 0 auto 2rem;
        padding: 1rem;
        font-size: 2rem;
        line-height: 1.0;
        text-align: center;
        width: 68px;
        height: 68px;
        background-color: #ddd;
        border-radius: 50%;
    }
}
.product-coming-soon::before {
    content: "Coming Soon!";
    position: absolute;
    top: 1rem;
    right: -2rem;
    background-color: $primary;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding: 0.25rem 4rem 0.25rem 8rem;
    -ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Safari 3-8 */
    transform: rotate(25deg);
}

.collapse-accordion {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 16px;
        bottom: 17px;
        left: 18px;
        width: 2px;
        background-color: $primary;
        z-index: 0;
    }
    h3[data-toggle="collapse"] {
        padding-left: 40px;
        transition: color 0.2s ease-in-out;
        position: relative;
        &:hover, &[aria-expanded="true"] {
            cursor: pointer;
            color: $primary;
        }
        &::before {
            content: "";
            display: inline-block;
            background-color: $yellow;
            border: 2px solid $primary;
            border-radius: 3px;
            width: 14px;
            height: 14px;
            margin: auto 12px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
            transition: background-color 0.2s ease-in-out;
        }
    }
    h3[aria-expanded="true"]::before {
        background-color: $primary;
    }
    h3[data-toggle="collapse"] + div {
        padding-left: 40px;
    }
}

.modal-backdrop.show {
    opacity: 0.85;
}
.modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.modal-content {
    border-radius: 0;
    border: 8px solid $black;
    z-index: 1;
    overflow: hidden;
}
.modal-header {
    padding-bottom: 0;
    border-bottom: none;
}
.modal-body{
    img {
        height: 130px;
    }
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -4rem;
        left: 0;
        right: 0;
        height: 4rem;
        background-color: rgba($yellow, 0.15);
        border-bottom: 0.75rem solid rgba($primary, 0.4);
        outline: 0.3rem solid rgba($black, 0.1);
        outline-offset: 0.75rem;
        -ms-transform: skewY(15deg); /* IE 9 */
        -webkit-transform: skewY(15deg); /* Safari 3-8 */
        transform: skewY(15deg);
    }
}
@include media-breakpoint-up(lg) {
    .modal-body img {
        height: 250px;
    }
}
.modal-footer {
    padding-top: 0;
    border-top: none;
}

.bg-dark .form-control {
    background-color: #1a1a1a;
    border-color: #303030;
    color: #999;
    border-radius: 0;
    &::placeholder {
        color: #4e4e4e;
    }
    &:focus {
        background-color: #444;
        border-color: #303030;
        border-bottom-color: $yellow;
        box-shadow: none;
        color: #ccc;
        
        &::placeholder {
            color: #756e6e;
        }
    }
}

#file-upload > div h4 {
    font-size: $font-size-base;
}
#file-upload > div .drp {
    padding: 40px 54px;
}
#file-upload form label {
    margin-bottom: 0;
}
.drp + form > .form-group:nth-of-type(2), .drp + form > .form-group:nth-of-type(3) {
    display: inline-block;
    width: calc(50% - 2px);
}